html {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 34px;
}

html {
  font-size: 24px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.heading_margin_bottom {
    margin-bottom: 50px;
}