html {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 34px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.heading_margin_bottom {
    margin-bottom: 50px;
}